<div class="container-fluid px-3 py-5">
  <h3 class="text-center text-white font-weight-bold">¿Qué ofrecemos en contratos digitales?</h3>
  <div class="line-light my-3"></div>
  <div class="row py-3">
    <div class="col-12 col-md-4">
      <div class="card border-0">
        <div class="card-body">
          <p class="card-text font-weight-bold text-center">Servicio integral digital para todo tipo de contratos</p>
        </div>
        <img src="./assets/img/feat3.jpg" class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card my-3 my-md-0 border-0">
        <div class="card-body">
          <p class="card-text font-weight-bold text-center">Se reducen las actividades operativas y repetitivas que no agregan valor</p>
        </div>
        <img src="./assets/img/feat1.jpg" class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card border-0">
        <div class="card-body">
          <p class="card-text font-weight-bold text-center">Contratos digitales con valor legal a nivel nacional</p>
        </div>
        <img src="./assets/img/feat2.jpg" class="card-img-bottom" alt="...">
      </div>
    </div>
  </div>
</div>
