<div class="container-fluid px-3 py-5">
  <h3 class="text-center text-white font-weight-bold">Usamos lo último en tecnología para asegurar la seguridad de la información</h3>
  <div class="line-light my-3"></div>
  <div class="row py-3">
    <div class="col-12 col-md-6">
      <div class="bg-light rounded">
        <img src="./assets/img/morpho-2.jpg" alt="chart-2" class="img-fluid ml-3">
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div class="mt-5 mt-md-0">
        <div class="row">
          <div class="col-12 col-md-6">
            <h5 class="text-white underline-2">Usamos el lector Morpho de IDEMIA, última generación en lectores biométricos</h5>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-md-6 offset-md-6">
            <h5 class="text-white underline-2">Lector con el menor error de equivocación y con el mejor algoritmo del mercado</h5>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
