<div class="container-fluid px-3 py-5">
  <h3 class="text-center font-weight-bold">Todo tipo de contratos pueden ser digitales</h3>
  <div class="line mt-3 mb-5"></div>
  <div class="row">
    <div class="col-12 col-md-3 contract-type">
      <p class="p-3 text-center font-weight-bold pointer underline">LABORALES <i class="fab fa-whmcs ml-3"></i></p>
      <p class="text-center font-weight-bold pointer text-dark-blue">Contratos laborales de trabajadores tanto por honorarios como en planilla</p>
    </div>
    <div class="col-12 col-md-3">
      <p class="p-3 text-center font-weight-bold pointer underline">SOCIETARIOS<i class="far fa-handshake ml-3"></i></p>
      <p class="text-center font-weight-bold pointer text-dark-blue">El contrato de sociedad es aquel por el cual dos o más personas naturales o personas jurídicas acuerdan realizar aportaciones para conseguir un fin común</p>
    </div>
    <div class="col-12 col-md-3">
      <p class="p-3 text-center font-weight-bold pointer underline">INMOBILIARIOS<i class="far fa-building ml-3"></i></p>
      <p class="text-center font-weight-bold pointer text-dark-blue">Contratos para la venta y arrendamientos de bienes inmuebles, es decir es todos aquellos bienes considerados bienes raíces</p>
    </div>
    <div class="col-12 col-md-3">
      <p class="p-3 text-center font-weight-bold pointer underline">DE PRIVACIDAD<i class="far fa-id-badge ml-3"></i></p>
      <p class="text-center font-weight-bold pointer text-dark-blue">Acuerdos de tratamiento de datos personales entre personas naturales y organizaciones, y entre instituciones</p>
    </div>
  </div>
</div>